{%- assign DOCS_DIR = site.docs_dir  | append: '/' -%}
{%- assign parent   = include.parent | default: DOCS_DIR -%}
<ul class="navbar-nav {% if include.show==false %}hidden{% endif %}">
{%- for item in include.content-%}
	{%- assign item_url = parent | append: item.path -%}
	
	{%- if item.children.size > 0 -%}
		{%- assign item_url = item_url | append: '/' -%}
	{%- elsif item_url != DOCS_DIR -%}
		{%- assign item_url = item_url | append: '.html' -%}
	{%- endif -%}
	
	{%- if item_url == DOCS_DIR and page.url == DOCS_DIR -%}
		{%- assign active = true -%}
	{%- elsif item_url != DOCS_DIR and page.url contains item_url -%}
		{%- assign active = true -%}
	{%- else -%}
		{%- assign active = false -%}
	{%- endif -%}
	
	{%- if item.children.size > 0 and active -%}
		{%- assign icon_class = 'nav-icon-expand' -%}
	{%- elsif item.children.size > 0 -%}
		{%- assign icon_class = 'nav-icon-collapse' -%}
	{%- else -%}
		{%- assign icon_class = nil -%}
	{%- endif -%}
	
	<li class="nav-item">
		<span class="nav-icon {{icon_class}}"></span>
		<a class="nav-link {% if active %}active{% endif %}" href="{{item_url}}">{{item.name}}</a>
	{%- if item.children.size > 0 -%}
		{%- include nav.html content=item.children parent=item_url show=active -%}
	{%- endif -%}
	</li>
{%- endfor -%}
</ul>
{%- assign parent = parent | split: '/' | pop | join: '/' | append: '/' -%}