{%- assign docs_root = site.docs_dir | append: '/' -%}
{%- assign page_path = page.dir -%}
{%- assign items  = include.content -%}
{%- assign parent = include.parent | default: site.docs_dir -%}
<ul class="navbar-nav">
{%- for item in items-%}
  <li class="nav-item">
	{%- if item.path -%}
	  {%- assign item_url = parent | append: '/' | append: item.path -%}
	{%- else -%}
	  {%- assign item_url = parent -%}
	{%- endif -%}
	
	{%- assign patial_path = page_path | slice: 0, item_url.size -%}
	{%- if item_url == site.docs_dir and page_path == docs_root -%}
	  {%- assign item_active = 'active' -%}
	{%- elsif item_url != site.docs_dir and page_path != docs_root and item_url == patial_path -%}
	  {%- assign item_active = 'active' -%}
	{%- else -%}
	  {%- assign item_active = '' -%}
	{%- endif -%}
	
	<a class="nav-link {{item_active}}" href="{{item_url}}/">{{item.label}}</a>
	
	{%- if item.children.size > 0 -%}
	  {%- include nav.html content=item.children parent=item_url -%}
	{%- endif -%}
  </li>
{%- endfor -%}
</ul>
{%- assign parent = parent | split: '/' | pop | join: '/' -%}